player-connection-mode=Listen
player-connection-guid=3315334878
player-connection-debug=0
player-connection-project-name=2D Multiplayer Space Game Prototype
player-connection-ip=172.16.3.7
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=08858129388e44da9a256f5285e17306
